<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang='en' xml:lang='en' xmlns='http://www.w3.org/1999/xhtml'>
  	<head>
    	<title>TokBox - Free Video Chat and Video Messaging</title>
    	<meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    	<meta content='en-en' http-equiv='Content-Language' />
		<link href="/stylesheets/tokbox.css" media="screen" rel="stylesheet" type="text/css" />
  	</head>
  	<body>
	
		<div id="sitewrapper">
			
			<div id="header">
				
				<div id="content">
				
					<div id="logo"></div>
				
					<div id="login">
						<div id="forgot_password">Forgot Password?</div>
						<div id="rule"></div>
						<form>
							<label for="email">Email:</label>
							<input type="text" name="email" value="" id="email">
							<label for="password">Password:</label>
							<input type="password" name="password" value="" id="password">
							<button>Login</button>
						</form>
					</div>
					<div class="clear-fix"></div>
				
				</div>
				<div class="clear-fix"></div>
			</div>
			
			<div class="clear-fix"></div>
			
			<div id="navigation-bar">
				<ul>
					<li>About TokBox</li>
					<li id="rule"></li>
					<li class="selected">Features &amp; Pricing</li>
					<li id="rule"></li>
					<li>Downloads</li>
					<li id="rule"></li>
					<li>Platform</li>
					<li id="rule"></li>
					<li>Help</li>
					<li id="rule"></li>
					<li>Education</li>
					<li id="rule"></li>
					<li>Religion</li>
					<li id="rule"></li>
					<li>Business</li>
					<div class="clear-fix"></div>
				</ul>
				<div class="clear-fix"></div>
			</div>
			
			<div class="clear-fix"></div>
			
			<div id="content-pane">
				
				<div id="left-arrow"></div>
				
				<div id="all-content">
				
					<div id="content-page-1">
				
						<div id="blue">
							<div id="content">
								<h1>Chat with up to 20 people for free.</h1>
								<h2>TokBox requires no download, only an internet connection and a webcam.</h2>
								<p>Sign up is free and takes just seconds.</p>
								<button>Learn more</button>
							</div>
						</div>
				
						<div id="grey">
							<div id="content">
								<form>
									<h3>Sign up now. It's free.</h3>
									<ul>
										<li>
											<label for="full_name">Full Name:</label>
											<input type="text" name="full_name" value="" id="full_name">
										</li>
										<li>
											<label for="email">Your Email:</label>
											<input type="text" name="email" value="" id="email">
										</li>
										<li>
											<label for="password">Create Password:</label>
											<input type="password" name="password" value="" id="password">
										</li>	
										<li>
											<label for"age">Age:</label>
											<select name="age" id="age" onchange="" size="1">
												<option>Select your age</option>
												<option value="under-13">Under 13</option>
												<option value="13-17">13-17</option>
												<option value="18-23">18-23</option>
												<option value="24-29">14-29</option>
											</select>
										</li>
										<li>
											<button>Sign up now</button>
										</li>
										<p>
											By clicking sign up now, you are indicating that you have read 
											and agree to the <a href="/terms">Terms of Use</a> and <a href="/privacy-policy">Privacy Policy</a>.
										</p>
									
									</ul>
								</form>	
							
							</div>
						</div>
						<div class="clear-fix"></div>
				
					</div>
				
				</div>
				
				<div id="right-arrow"></div>
				
			</div>
			
			<div class="clear-fix"></div>
			
			<div id="content-pane-nav">
				
				<ul>
					<li class="selected"></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<div class="clear-fix"></div>
				</ul>
				
			</div>
			
			<div class="clear-fix"></div>
			
			<div id="tertiary-content">
				
				<ul id="top">
					<li>
						<div class="image">
							<img src="/tokbox/icon-camera.png">
						</div>
						<h4>Get 20 people in a chat.</h4>
						<p>Discover the simplest way to connect face-to-face.</p>
					</li>
					<li id="rule"></li>
					<li>
						<div class="image">
							<img src="/tokbox/icon-moderation.png">
						</div>
						<h4>Control your video chat.</h4>
						<p>Try new moderation and scheduling control.</p>
					</li>
					<li id="rule"></li>
					<li>
						<div class="image">
							<img src="/tokbox/icon-media-share.png">
						</div>
						<h4>Share Media in a chat.</h4>
						<p>Share YouTube videos, office docs and SlideShare presentations.</p>
					</li>
					<li id="rule"></li>
					<li>
						<div class="image">
							<img src="/tokbox/icon-broadcast.png">
						</div>
						<h4>Broadcast your meeting.</h4>
						<p>Include up to 250 people at once with new broadcast video chat.</p>
					</li>
					
					<div class="clear-fix"></div>
				</ul>
				
				
				
				<ul id="bottom">
					<li id="religion">
						<div id="content">
							<p>See how faith leaders use TokBox</p>
						</div>
					</li>
					<li id="teacher">
						<div id="content">
							<p>See how teachers use TokBox</p>
						</div>
					</li>
					<li id="business">
						<div id="content">
							<p>See how business owners use TokBox</p>
						</div>
					</li>
					<div class="clear-fix"></div>
				</ul>
				
			</div>
			
		</div>
		
		<div class="clear-fix"></div>
		
		<div id="footer">
			<ul>
				<li id="feedback">Send TokBox Feedback</li>
				<li id="rule"></li>
				<li>Help</li>
				<li id="rule"></li>
				<li id="team">Team</li>
				<li id="rule"></li>
				<li>Jobs</li>
				<li id="rule"></li>
				<li>Contact</li>
				<li id="rule"></li>
				<li>Blog</li>
				<li id="rule"></li>
				<li>Terms</li>
				<li id="rule"></li>
				<li>Privacy</li>
				<li id="rule"></li>
				<li>&copy; 2010 TokBox, Inc. All Rights Reserved</li>
				<div class="clear-fix"></div>
			</ul>
		</div>
	</body>
</html>