/* Whitespace Reset */
ul,ol {
	list-style:none; }
h1,h2,h3,h4,h5,h6,pre,code {
	font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {
	font-weight: normal;
	border: none;
	margin:0;
	padding:0; }
a img,:link img,:visited img {
	border:none; }
address {
	font-style:normal; }
img {
	padding: 0;
	margin :0;
}

/* Index Ascii Art */

#frontpage img#background { 
	height: 800px; 
	width: 900px;
	padding: 0 0 0 140px;
	z-index: -1; 
	position: absolute; 
	color: white;
	opacity: 1.75;
}

#frontpage pre {
	font-size: 8px;
	letter-spacing: 4px;
	line-height: 8px;
	font-weight: bold;
}

#frontpage a {
	color: inherit;
	text-decoration: none;
	font-size: 12px;
	line-height: 8px;
	margin: 0 0px 0 0px;
	letter-spacing: 2px;
	/*background: transparent url(/images/25-transparent.png);*/
}

#frontpage a:hover {
	color: inherit ! important ;
}

#frontpage a:visited {
	color: inherit ! important ;
}