/* Whitespace Reset */
ul,ol {
	list-style:none; }
h1,h2,h3,h4,h5,h6,pre,code {
	font-size:1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {
	font-weight: normal;
	border: none;
	margin:0;
	padding:0; }
a img,:link img,:visited img {
	border:none; }
address {
	font-style:normal; }
img {
	padding: 0;
	margin :0;
}

/* TokBox */

.clear-fix {
	height: 0px;
	margin: 0;
	padding: 0;
	clear: both;
	border: none;
}

body {
	background: #FFF url(/tokbox/background.png) repeat-x;
}

#sitewrapper {
	margin: 0px auto;
	width: 962px;
}

#header {
	height: 96px;
}

#header #content {
	padding: 21px 0 0 0;
}

#header #logo {
	background: transparent url(/tokbox/logo.png) no-repeat;
	width: 135px;
	height: 57px;
	float: left;
}

#header #login {
	margin: 14px 0 0 0;
	float: right;
}

#header #login #forgot_password {
	height: 30px;
	float: left;
	font: normal normal bold 14px Lucida Grande, Lucida, sans-serif;
	line-height: 30px;
	color: #0066cc;
}

#header #login #rule {
	margin: 0 25px 0 20px;
	float: left;
	width: 1px;
	height: 34px;
	border: none;
	background: transparent url(/tokbox/black-dashed-rule.png) no-repeat;
}

#header #login form {
	float: left;
}

#header #login form label {
	height: 30px;
	float: left;
	font: normal normal normal 14px Lucida Grande, Lucida, sans-serif;
	line-height: 30px;
	color: #333333;
}

#header #login form input {
	margin: 0 15px 0 10px;
	padding: 0 3px 0 3px;
	float: left;
	font: normal normal normal 14px Lucida Grande, Lucida, sans-serif;
	color: #333333;
	width: 126px;
	height: 30px;
	background-image: url(/tokbox/text-input.png);
}

#header #login form button {
	margin: 0 0 0 18px;
	float: left;
	font: normal normal normal 12px Lucida Grande, Lucida, sans-serif;
	color: #777777;
	width: 90px;
	height: 30px;
	background: transparent url(/tokbox/button.png) no-repeat;
	border: none;
}

#navigation-bar {
	height: 40px;
}

#navigation-bar ul {
	text-align: center;
	margin: 0 auto;
	width: 860px;
	clear: none;
	height: 30px;
}

#navigation-bar ul #rule {
	margin: 9px 18px;
	float: left;
	width: 1px;
	height: 22px;
	border: none;
	background: transparent url(/tokbox/white-dashed-rule.png) no-repeat;
}

#navigation-bar ul li {
	clear: none;
	float: left;
	font: normal normal normal 14px Lucida Grande, Lucida, sans-serif;
	line-height: 40px;
	color: #676767;
}

#navigation-bar ul li.selected {
	color: #0066cc;
}

#content-pane {
	position: relative;
	background: #FFF url(/tokbox/people-background.png) no-repeat;
	width: 962px;
	height: 342px;
}

#content-pane #left-arrow {
	position: absolute;
	top: 150px;
	left: -42px;
	width: 21px;
	height: 21px;
	background: transparent url(/tokbox/left-arrow.png) no-repeat;
}

#content-pane #right-arrow {
	position: absolute;
	top: 150px;
	right: -42px;
	width: 21px;
	height: 21px;
	background: transparent url(/tokbox/right-arrow.png) no-repeat;
}

#content-pane #blue {
	float: left;
	width: 548px;
	height: 342px;
	background: transparent url(/tokbox/blue-gradient-trans-89-background.png) repeat-x;
}

#content-pane #blue #content {
	margin: 20px 35px 20px 30px;
}

#content-pane #blue h1 {
	width: 380px;
	font: normal normal normal 36px Lucida Grande, Lucida, sans-serif;
	line-height: 40px;
	color: #ffffff;
}

#content-pane #blue h2 {
	margin: 15px 0 0 0;
	font: normal normal normal 26px Lucida Grande, Lucida, sans-serif;
	line-height: 30px;
	color: #ffffff;
}

#content-pane #blue p {
	margin: 15px 0 0 0;
	font: normal normal normal 14px Lucida Grande, Lucida, sans-serif;
	color: #ffffff;
}

#content-pane #blue button {
	margin: 25px 0 0 0;
	width: 130px;
	height: 30px;
	background: transparent url(/tokbox/content-pane-button.png) no-repeat;
	border: none;
	font: normal normal normal 12px Lucida Grande, Lucida, sans-serif;
	color: #ffffff;
}

#content-pane #grey {
	float: left;
	width: 414px;
	height: 342px;
	background: transparent url(/tokbox/grey-gradient-background.png) repeat-x;
}

#content-pane #grey h3 {
	margin: 20px 0 0 30px;
	font: normal normal normal 18px Lucida Grande, Lucida, sans-serif;
	color: #676767;
}

#content-pane #grey ul {
	margin: 15px 0 0 0;
}

#content-pane #grey ul li {
	clear: both;
	height: 40px;
}

#content-pane #grey form label {
	margin: 0 20px 0 0;
	float: left;
	text-align: right;
	width: 160px;
	font: normal normal normal 14px Lucida Grande, Lucida, sans-serif;
	color: #333333;
	line-height: 30px;
}

#content-pane #grey form input {
	float: left;
	text-align: left;
	padding: 0 3px 0 3px;
	width: 126px;
	height: 30px;
	background: transparent url(/tokbox/content-pane-input.png) no-repeat;
	font: normal normal normal 14px Lucida Grande, Lucida, sans-serif;
	color: #333333;
}

#content-pane #grey select {
	width: 132px;
	margin: 6px 0 0 0;
}

#content-pane #grey button {
	margin: 20px 0 0 180px;
	width: 130px;
	height: 30px;
	background: transparent url(/tokbox/content-pane-button.png) no-repeat;
	border: none;
	font: normal normal normal 12px Lucida Grande, Lucida, sans-serif;
	color: #ffffff;
}

#content-pane #grey p {
	margin: 15px 0 0 0;
	padding: 0 60px;
	width: 300px;
	text-align: center;
	font: normal normal normal 10px Lucida Grande, Lucida, sans-serif;
	color: #333333;
}

#content-pane #grey p a {
	color: #0066cc;
	text-decoration: none;
}

#content-pane-nav {
	height: 25px;
}

#content-pane-nav ul {
	margin: 7px auto;
	width: 154px;
}

#content-pane-nav ul li {
	margin: 0 3px 0 0;
	float: left;
	width: 19px;
	height: 11px;
	background: transparent url(/tokbox/content-pane-nav.png);
}

#content-pane-nav ul li.selected {
	width: 19px;
	height: 11px;
	background: transparent url(/tokbox/content-pane-nav-selected.png);
}

#tertiary-content {
	height: 372px;
	margin: 0px 0 0 0;
}

#tertiary-content #content {
	padding: 20px 0 0 0;
}

#tertiary-content ul#top {
	height: 109px;
}

#tertiary-content ul#top li {
	float: left;
	width: 239px;
	height: 109px;
}

#tertiary-content ul#top li .image {
	margin: 0 0 0 25px;
	height: 50px;
}

#tertiary-content ul#top h4 {
	margin: 5px 0 0 25px;
	font: normal normal bold 14px Lucida Grande, Lucida, sans-serif;
	color: #0066cc;
}

#tertiary-content ul#top p {
	margin: 5px 5px 0 25px;
	font: normal normal normal 11px Lucida Grande, Lucida, sans-serif;
	color: #676767;
}

#tertiary-content ul#top #rule {
	margin: 0px;
	float: left;
	width: 1px;
	height: 109px;
	border: none;
	background: transparent url(/tokbox/tall-grey-dashed-rule.png) no-repeat;
}

#tertiary-content ul#bottom {
	margin: 25px 0 0 0;
}

#tertiary-content ul#bottom li {
	float: left;
	width: 307px;
	height: 190px;
}

#tertiary-content ul#bottom li #content {
	padding: 0 0 0 0;
	margin: 160px 0 0 0;
	background: transparent url(/tokbox/tertiary-blue-gradient-background.png) repeat-x;
	height: 30px;
	width: 100%;
}

#tertiary-content ul#bottom li #content p {
	margin: 0 0 0 20px;
	font: normal normal normal 14px Lucida Grande, Lucida, sans-serif;
	line-height: 30px;
	color: #ffffff;
}

#tertiary-content ul#bottom li#religion {
	background: transparent url(/tokbox/person-religion.png) no-repeat;
	margin: 0 20px 0 0;
}

#tertiary-content ul#bottom li#teacher {
	background: transparent url(/tokbox/person-teacher.png) no-repeat;
	margin: 0 20px 0 0;
}

#tertiary-content ul#bottom li#business {
	background: transparent url(/tokbox/person-business.png) no-repeat;
}

#footer {
	margin: 0px auto;
	width: 1040px;
	height: 40px;
}

#footer ul #rule {
	margin: 10px 18px;
	float: left;
	width: 1px;
	height: 22px;
	border: none;
	background: transparent url(/tokbox/white-dashed-rule.png) no-repeat;
}

#footer ul li {
	float: left;
	height: 40px;
	font: normal normal normal 14px Lucida Grande, Lucida, sans-serif;
	line-height: 40px;
	color: #676767;
}

#footer ul li#feedback {
	font-weight: bold;
}

#footer ul li#team {
	color: #0066cc;
}