article {
  margin-top: 20px;
  h2,
  h3,
  h4,
  h5,
  img,
  p {
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 16px;
  }
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  blockquote {
    border-left: 5px solid lightgray;
    padding-left: 20px;
  }
}
