@import '../variables';

$responsive-margin: 1em;
$desktop-margin: 3em;

.sitewrapper {
  background-color: white;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: $desktop-width;
    min-height: 100%;
  }
}

header {
  margin: 0 $responsive-margin;

  @media (min-width: $desktop-width) {
    margin: 0 $desktop-margin;
  }
  h1 {
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.6em;
    margin: 0;
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.content {
  margin: 0 $responsive-margin;

  @media (min-width: $desktop-width) {
    margin: 0 $desktop-margin;
    height: 100%;
    min-height: calc(100vh - 3em);
  }
}

footer {
  background-color: black;
  height: 3em;
  margin-top: 1em;
  pre {
    font-family: monospace;
  }
}
