@import '../variables';

$responsive-margin: 1em;
$desktop-margin: 3em;

.sitewrapper {
  background-color: white;
  min-height: 100%;

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: $desktop-width;
  }
}

header {
  padding-top: 1em;
  margin: 0 $responsive-margin;

  @media (min-width: 480px) {
    display: flex;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin: 0 $desktop-margin;
  }
  h1 {
    font-weight: bold;
    font-size: 1.6em;
    margin-right: 1em;
    a {
      text-decoration: none;
      color: black;
    }
  }

  nav {
    margin-top: 0.5em;
    margin-bottom: 0.1em;
    a {
      margin-right: 1em;
      text-decoration: none;
      color: black;
    }
  }
}

.content {
  margin: 0 $responsive-margin;
  height: 100%;
  min-height: calc(100vh - 3em);

  @media (min-width: $desktop-width) {
    margin: 0 $desktop-margin;
  }
}

footer {
  background-color: black;
  height: 3em;
  margin-top: 1em;
  pre {
    font-family: monospace;
  }
}
