@import 'styles/variables';

@import 'vendor/reset';
@import 'styles/layout';
@import 'styles/article';
@import 'styles/page';
@import 'styles/front-page';

html,
body,
#app {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: gainsboro;
}

input {
  border: 1px solid black;
}
