@import 'variables';

@import 'vendor/reset';
@import 'components/layout';
@import 'components/article';
@import 'components/page';
@import 'components/front-page';

html,
body,
#app {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: lightgray;
}
