.article {

  h3 {
    margin-top: 50px;
  }

  p {
    font-size: $font-size-large;
    margin: 50px 0;
  }

  ol {
    font-size: $font-size-large;
    list-style: initial;
    margin-left: 20px;
  }

  img {
    width: 485px;
  }
  
}