/* 
  https://bootswatch.com/lumen/
  https://bootswatch.com/lumen/bootstrap.min.css
  https://bootswatch.com/lumen/_variables.scss
*/
@import 'bootstrap.min';
@import 'variables';

@import 'reset';
@import 'root-container';
@import 'front-page';

#universal-app-container {
  height: 100%;
}

body { 
  height: 100%;
}