/* 
  https://bootswatch.com/lumen/
  https://bootswatch.com/lumen/bootstrap.min.css
  https://bootswatch.com/lumen/_variables.scss
*/
@import 'bootstrap.min';
@import 'variables';

/*
https://highlightjs.org/
*/
@import 'github';

@import 'reset';
@import 'root-container';
@import 'front-page';
@import 'user-authentication';
@import 'article';
@import 'markup';
@import 'personified-nouns';

#universal-app-container {
  height: 100%;
}

body { 
  height: 100%;
}